.section1 {
  width: 100%;
  background-color: rgb(24, 24, 24);
  padding: 100px 0;
}
.list {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  gap: 12px;
  padding: 0 12px;
}
.list div {
  max-width: 47%;
  border: dashed 5px rgb(48, 48, 48);
  border-radius: 3%;
  height: auto;
  padding: 0 1% 10px;
  width: fit-content;
}

.section2 {
  width: 100%;
  padding: 100px 0;
}
.list2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}
.uList {
  display: flex;
  list-style-type: none;
  gap: 8px;
  row-gap: 24px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.uList li {
  height: auto;
  width: 30%;
  justify-content: center;
  align-items: center;
  border: dashed 5px rgb(48, 48, 48);
  border-radius: 3%;
  padding: 0 8px 0;
}
@media (max-width: 800px) {
  .list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
  .list div {
    width: 100%;
    max-width: 95%;
    min-height: 300px;
  }
  .uList {
    justify-content: center;
    align-items: center;
    padding: 0 12px;
  }
  .uList li {
    width: 95%;
  }
}
.title {
  padding-right: 0;
  width: 100%;
  font-size: 34px;
}
