.main {
  margin: 52px auto 0;
  padding: 0;
}
.content {
  width: 60%;
  max-width: 800px;
  margin: 0 auto 60px;
}
.img {
  height: 200px;
  background-repeat: repeat-x;
  background-size: 200px;
  opacity: 0.085;
  margin: 0;
  padding: 0;
}

@media (max-width: 850px) {
  .content {
    width: 80%;
  }
}
