.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 180px 24px 152px 24px;
  width: fit-content;
}
.name {
  padding: 0;
  margin: 0;
}
.one {
  padding: 12px 0 0 0;
  margin: 0;
}
.one span {
  font: italic !important;
  text-shadow: 3px 3px 3px black, 0 0 12px white;
}
.two {
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  justify-content: space-between;
}
.img {
  height: 330px;
  background-size: 800px;
  opacity: 0.07;
  width: 800px;
  background-repeat: no-repeat;
  margin: 40px auto 0 auto;
}
@media (max-width: 1055px) {
  .main {
    flex-direction: column;
    justify-content: space-around;
  }
  .img,
  .img2,
  .img3 {
    margin: 0;
    display: none;
  }
}
.nameLink {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  opacity: 1;
}
.nameLink:hover {
  opacity: 0.4;
  transition: all 0.3s;
}
.img2 {
  height: 330px;
  background-size: 400px;
  opacity: 0.07;
  width: 400px;
  background-repeat: no-repeat;
  margin: 160px 224px 0 auto;
  rotate: -14deg;
}
.img3 {
  height: 500px;
  background-size: 500px;
  opacity: 0.07;
  width: 500px;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
}
