.OpenBTN,
.CloseBTN {
  transition: all 0.2s;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  opacity: 0.2;
  color: white;
}
.OpenBTN:hover,
.CloseBTN:hover {
  transition: all 0.2s;
  border: 0;
  opacity: 0.4;
}
.OpenBTN {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 2000;
}
.navWrapperOPEN {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2100;
  text-align: right;
  transition: all 0.4s;
}
.navWrapperCLOSE {
  position: fixed;
  top: 0;
  right: -105vw;
  transition: all 0.4s;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2100;
  text-align: right;
}
.Navigation {
  width: fit-content;
  margin: 0 0 0 auto;
  background-color: rgb(12, 12, 12);
  height: 100vh;
  padding: 10px 70px 10px 50px;
  width: 190px;
}
.List {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-content: center;
  justify-content: center;
  width: fit-content;
}
.listItem {
  list-style: none;
  width: 200px;
}

.Link {
  background-color: rgb(24, 24, 24);
  color: white;
  border: solid 2px rgb(38, 38, 38);
  padding: 4px 10px;
  font-size: xx-large;
  border-radius: 4px;
  transition: all 0.2s;
  text-align: center;
  display: block;
  text-decoration: none;
  transition: all 0.2s;
}
.Link:hover {
  transition: all 0.2s;
  background-color: rgb(38, 38, 38);
  border: solid 2px rgb(24, 24, 24);
}
