.main {
  padding: 50px 24px 156px;
}
.main h2 {
  max-width: 980px;
  padding: 0 24px;
  margin: 0 auto 35px;
}
.invis {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}
.more {
  max-height: 500px;
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 24px;
}
.first3 {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto 24px;
}
.item {
  width: 29%;
  max-width: 300px;
  border: dashed 5px rgb(48, 48, 48);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8px 12px 8px;
}
.img {
  background: black;
  width: 250px;
  height: 250px;
  padding: 4px;
  max-width: 95%;
}
.button {
  margin: 24px auto;
  display: block;
  width: 400px;
  height: 40px;
  font-size: 24px;
  border: none;
  border-radius: 12px;
  background-color: rgb(48, 48, 48);
  color: rgb(180, 180, 180);
  transition: all 0.15s;
}
.button:hover {
  opacity: 0.7;
  transition: all 0.15s;
  cursor: pointer;
}
@media (max-width: 850px) {
  .invis {
    flex-direction: column;
    width: 90%;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

    transition: all 1s;
  }
  .more {
    flex-direction: column;
    width: 90%;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    max-height: 1200px;
    transition: all 1s;
    overflow: hidden;
  }
  .first3 {
    flex-direction: column;
    width: 90%;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }
  .item {
    width: 300px;
    max-width: none;
    padding: 0 0 12px;
    margin: 0;
  }
  .main h2 {
    width: 100%;
    padding: 0;
    margin: 0 0 24px;
    text-align: center;
  }
  .button {
    max-width: 80%;
  }
}
